html {
  background-color: black;
  overflow: hidden;
}

#l1,
#l2,
#l3,
#l4,
#l5 {
  transform-origin: center;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
#l1 {
  animation-delay: 1s;
  animation-name: rotate-right;
}
#l2 {
  animation-delay: 2s;
  animation-name: rotate-left;
}
#l3 {
  animation-delay: 3s;
  animation-name: rotate-right;
}
#l4 {
  animation-delay: 4s;
  animation-name: rotate-left;
}
#l5 {
  animation-delay: 5s;
  animation-name: rotate-right;
}

@keyframes rotate-left {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
@keyframes rotate-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
